.jumbotron{
  background-image: url(../images/mental-health-2019924_1920.jpg);
  background-position: center;
  padding: 156px 0 100px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
}